
// Default Category10 Colors
.mc-group-0 {
  fill:   #1f77b4;
  stroke: #1f77b4;
}
.mc-group-1 {
  fill:   #ff7f0e;
  stroke: #ff7f0e;
}
.mc-group-2 {
  fill:   #2ca02c;
  stroke: #2ca02c;
}
.mc-group-3 {
  fill:   #d62728;
  stroke: #d62728;
}
.mc-group-4 {
  fill:   #9467bd;
  stroke: #9467bd;
}
.mc-group-5 {
  fill:   #8c564b;
  stroke: #8c564b;
}
.mc-group-6 {
  fill:   #e377c2;
  stroke: #e377c2;
}
.mc-group-7 {
  fill:   #7f7f7f;
  stroke: #7f7f7f;
}
.mc-group-8 {
  fill:   #bcbd22;
  stroke: #bcbd22;
}
.mc-group-9 {
  fill:   #17becf;
  stroke: #17becf;
}
